{% load static %}

 <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="about footer-item">
            <div class="logo">
              <a href="#"><img src="{% static 'assets/images/footer-logo.png' %}" alt="Onix Digital TemplateMo"></a>
            </div>
            <ul>
              <li><a href="https://www.facebook.com/cloudonedevelopers"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/cloudonedevelopers"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/company/cloudonedevelopers"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      <div class="col-lg-3">
          <div class="services footer-item">
            <h4>Company</h4>
            <ul>
              <li><a href="https://www.linkedin.com/company/cloudonedevelopers/jobs/">Careers</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="company footer-item">
            <h4>USA Location</h4>
            <span><i class="fa fa-map-marker"></i> <a href="#"> 75 Cooley St. <br> Ste. 7 <br>
              Pleasantville NY 10570, USA </a></span> <br>
            <span><i class="fa fa-envelope"></i> <a href="#"> info@cloudonedevelopers.com </a></span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="subscribe-newsletters footer-item">
            <h4>Pakistan Location</h4>
            <span><i class="fa fa-map-marker"></i> <a href="#"> Office#1 9-C1 3rd floor Civic Center <br>
              Moon Market Faisal Town <br> Lahore, Pakistan </a></span> <br>
            <span><i class="fa fa-envelope"></i> <a href="#"> info@cloudonedevelopers.com </a></span>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="copyright">
            <p>Copyright © 2023 Cloud One Developers Inc. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </footer>
