{% extends 'base.html' %}
{% load static %}



{% block main %}

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->



  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="owl-carousel owl-banner">
                <div class="item header-text">
                  <h2>Our <em>Software Development</em></h2>
                  <p>We work with our clients to understand their unique needs and develop software solutions that are tailored to their specific requirements. Our team of developers use the latest technologies and development methodologies to create software that is efficient, effective, and scalable. </p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#contact">Inquire</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h2>Our <em>Mobile App Development</em></h2>
                  <p>Our team of developers specializes in creating mobile applications for iOS and Android devices. We work with our clients to understand their goals and develop mobile applications that are user-friendly, intuitive, and effective. </p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#contact">Inquire</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h2>Our <em>Web Development</em></h2>
                  <p>We create responsive, user-friendly, and visually stunning websites that are optimized for search engines and designed to engage and convert visitors into customers. </p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#contact">Inquire</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h2>Our <em>E-Commerce Development</em></h2>
                  <p>Our team of developers specializes in creating e-commerce websites that are user-friendly, secure, and optimized for sales. We work with our clients to understand their specific needs and develop solutions that help them sell more products and services online. </p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#services">Inquire</a>
                    </div>
                  </div>
                </div>
                <div class="item header-text">
                  <h2>Our <em>Cloud Solutions</em></h2>
                  <p>We help businesses move their software and applications to the cloud, providing them with the flexibility, scalability, and security they need to operate efficiently and effectively. </p>
                  <div class="down-buttons">
                    <div class="main-blue-button-hover">
                      <a href="#contact">Inquire</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="our-services section">
    <div class="services-right-dec">
      <img src="{% static 'assets/images/services-right-dec.png' %}" alt="">
    </div>
    <div class="container">
      <div class="services-left-dec">
        <img src="{% static 'assets/images/services-left-dec.png' %}" alt="">
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>We <em>Provide</em> The Best Service With <span>Our Tools</span></h2>
            <span>Our Services</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-services">
            <div class="item">
              <h4>Cloud Solutions</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-cloud-sol.png' %}" alt=""></div>
              <p>We help businesses move their software and applications to the cloud, providing them with the flexibility, scalability, and security they need to operate efficiently and effectively. </p>
            </div>
            <div class="item">
              <h4>Consulting</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-consulting.png' %}" alt=""></div>
              <p>We can provide consulting services to businesses that need help identifying their software needs, evaluating different software options, and selecting the best software solution for their business. </p>
            </div>
            <div class="item">
              <h4>Data Analytics</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-data-analytics.png' %}" alt=""></div>
              <p>We offer data analytics services that help businesses gain insights into their operations and make informed decisions. Our data analytics services include data mining, data visualization, and predictive analytics. </p>
            </div>
            <div class="item">
              <h4>Graphic Design</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-graphic-design.png' %}" alt=""></div>
              <p>We also offer graphic design services to complement our software development services. Our team of experienced graphic designers can help businesses create visually appealing designs that align with their brand image and convey their message effectively. </p>
            </div>
            <div class="item">
              <h4>Maintenance/Support</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-maint-support.png' %}" alt=""></div>
              <p>We offer ongoing maintenance and support services to ensure that the software continues to meet the client's needs and remains up-to-date with the latest technologies and industry best practices. </p>
            </div>
            <div class="item">
              <h4>Mobile App Dev</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-mobile-dev.png' %}" alt=""></div>
              <p>Our team of developers specializes in creating mobile applications for iOS and Android devices. We work with our clients to understand their goals and develop mobile applications that are user-friendly, intuitive, and effective. </p>
            </div>
            <div class="item">
              <h4>SEO</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-seo.png' %}" alt=""></div>
              <p>We offer SEO (Search Engine Optimization) services to help businesses increase their online visibility and drive more organic traffic to their website. Our team of SEO experts can help businesses improve their search engine rankings, attract more qualified leads, and ultimately increase their sales and revenue.</p>
            </div>
            <div class="item">
              <h4>Social Media</h4>
              <div class="icon"><img src="{% static 'assets/images/serivce-icon-social-media.png' %}" alt=""></div>
              <p>We offer social media marketing services to help businesses build their brand presence, increase their engagement with their target audience, and drive more traffic to their website. Our team of social media experts can help businesses create and execute social media strategies that are tailored to their unique needs and objectives.</p>
            </div>
            <div class="item">
              <h4>Software Dev</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-web-dev.png' %}" alt=""></div>
              <p>We work with our clients to understand their unique needs and develop software solutions that are tailored to their specific requirements. Our team of developers uses the latest technologies and development methodologies to create software that is efficient, effective, and scalable. </p>
            </div>
            <div class="item">
              <h4>Software Testing</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-software-testing.png' %}" alt=""></div>
              <p>We offer comprehensive software testing services that help businesses identify and fix any bugs, glitches, or errors in their software before it is released to the public. Our testing services help ensure that the software is reliable, user-friendly, and meets the business's requirements. </p>
            </div>
            <div class="item">
              <h4>UI/UX Design</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-uiux.png' %}" alt=""></div>
              <p>We offer UI/UX design services that help businesses create user-friendly and visually appealing software solutions that provide an optimal user experience. </p>
            </div>
            <div class="item">
              <h4>Web Dev</h4>
              <div class="icon"><img src="{% static 'assets/images/service-icon-web-dev.png' %}" alt=""></div>
              <p>We create responsive, user-friendly, and visually stunning websites that are optimized for search engines and designed to engage and convert visitors into customers. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="section-heading">
            <h2>Feel free to <em>Contact Us</em> </h2>
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.0118343035024!2d-73.79629638383679!3d41.134267619609886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2bf234b7891f9%3A0x7ecc4ef418500fde!2sCloud%20One%20Developers%20Inc!5e0!3m2!1sen!2sus!4v1676861598723!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info">
              <span><i class="fa fa-envelope"></i> <a href="#"> GENERAL INQUIRY:  <br> info@cloudonedevelopers.com </a></span>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <form id="contact" action="" method="get">
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="Phone" name="Phone" id="Phone" placeholder="Phone Number" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <label for="contact">Select a Service Type  </label>
            <select class="contact-drop-down"  name="hear" id="hear">
                <option>Select A Service:</option>
                <option value="1">Cloud Solutions</option>
                <option value="2">Consulting</option>
                <option value="3">Data Analytics</option>
                <option value="4">Graphic Design</option>
                <option value="5">Maintenance/Support</option>
                <option value="6">Mobile App Development</option>
                <option value="7">Other</option>
                <option value="8">SEO</option>
                <option value="9">Social Media</option>
                <option value="10">Software Development</option>
                <option value="11">Software Testing</option>
                <option value="12">UI/UX Design</option>
                <option value="13">Website Development</option>
            </select> 
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="Message" id="Message" placeholder="Write your message here" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="send" id="form-send" class="main-button">Send</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="contact-dec">
      <img src="{% static 'assets/images/contact-dec.png' %}" alt="">
    </div>
    <div class="contact-left-dec">
      <img src="{% static 'assets/images/contact-left-dec.png' %}" alt="">
    </div>
  </div>

  <div class="footer-dec">
    <img src="{% static 'assets/images/footer-dec.png' %}" alt="">
  </div>

{% endblock %}